<!-- <ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Thả tay để tải lại dữ liệu"
      refreshingSpinner="circles"
      refreshingText="Đang tải...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="sticky-header">
    <ion-row class="info-row" #hideheader>
      <ion-col size="10">
        <ion-text color="dark" *ngIf="userInfo">
          <strong style="font-size: 18px">{{userInfo.fullname}}</strong><br>
          <span style="font-size: 12px;color:lightslategray">Ngày {{ now | date:'dd/MM/yyyy'}}</span>
        </ion-text>
      </ion-col>
      <ion-col size="2" class="ion-padding-start">
        <ion-button fill="clear" id="trigger-button" class="ion-no-padding">
          <ion-icon name="person-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-popover trigger="trigger-button" [isOpen]="isPopoverOpen">
    <ng-template>
      <ion-list scroll="false" class="ion-no-padding">
        <ion-item class="ion-no-border ion-no-padding" (click)="showProfile()">
          <ion-avatar class="size15" slot="start">
            <ion-icon size="small" name="person-outline"></ion-icon>
          </ion-avatar>
          <ion-label>Thông tin</ion-label>
        </ion-item>
        <ion-item lines="none" class="last ion-no-padding" (click)="logout()">
          <ion-avatar class="size15" slot="start">
            <ion-icon name="log-out-outline" size="small"></ion-icon>
          </ion-avatar>
          <ion-label class="btn">Đăng xuất</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content> -->

<!-- <ion-label>formFilterTestSheet value: {{ formFilterTestSheet | json }}</ion-label> -->
<ion-content class="ion-padding">
  <!-- Nội dung -->
  <div>
    <!-- Khu vực tìm kiếm -->
    <div>
      <!-- Tìm liếm - lọc [debounce]="100" id="popover-search" (keyup.enter)="onSearchByKeyword()" -->
      <div style="display: flex;">
        <ion-searchbar autocomplete="on" (ionChange)="handleChangeSearch($event)"
          placeholder="Tìm kiếm ..."></ion-searchbar>

        <!--    <ion-list style="position: absolute; z-index: 100000;">
          <ion-item *ngFor="let name of listOrder">
            <ion-label>{{ name }}</ion-label>
          </ion-item>
        </ion-list> -->


        <!-- Filter -->
        <ion-buttons (click)="presentPopoverFilter($event)" slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="funnel-outline" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-popover #popoverFormFilter size="auto" [isOpen]="isPopoverOpenFilter"
          (didDismiss)="isPopoverOpenFilter = false">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-label style="font-size: small;">Lọc dữ liệu theo ...</ion-label>
              <ion-list>
                <!-- <ion-item style="font-size: small;">
                  <ion-label position="stacked">
                    <ion-icon name="person-outline"></ion-icon>
                    Tên bệnh nhân
                  </ion-label>
                  <ion-input placeholder="Nhập tên bệnh nhân ..."
                    [(ngModel)]="formFilterTestSheet.namePatient"></ion-input>
                </ion-item> -->

                <ion-item>
                  <ion-label position="stacked">
                    <ion-icon name="options-outline"></ion-icon>
                    Loại Yêu cầu
                  </ion-label>
                  <ion-select #requestType [interfaceOptions]="customAlertOptionsRequestType" style="font-size: small;" aria-label="parterns"
                    placeholder="Chọn loại yêu cầu ..." (ionChange)="handleChangeRequestType($event)"
                    [(ngModel)]="formFilterTestSheet.valueRequestTypePatient">
                    <ion-select-option *ngFor="let typeOrder of listTypeOrder"
                      [value]="typeOrder.requestTypeId">{{typeOrder.requestTypeName}}</ion-select-option>
                  </ion-select>
                </ion-item>


                <ion-item style="font-size: small;">
                  <ion-label position="stacked">
                    <ion-icon name="call-outline"></ion-icon>
                    Số điện thoại
                  </ion-label>
                  <ion-input type="tel" placeholder="Nhập SĐT ..."
                    [(ngModel)]="formFilterTestSheet.phoneNoPatient"></ion-input>
                </ion-item>


                <ion-item style="font-size: small;">
                  <ion-label position="stacked">
                    <ion-icon name="location-outline"></ion-icon>
                    Địa chỉ
                  </ion-label>
                  <ion-input type="tel" placeholder="Nhập Địa chỉ ..."
                    [(ngModel)]="formFilterTestSheet.addressPatient"></ion-input>
                </ion-item>


                <ion-item style="font-size: small;">
                  <ion-label position="stacked">
                    <ion-icon name="send-outline"></ion-icon>
                    Trạng thái Đơn hàng
                  </ion-label>
                  <ion-select #orderStatusSelect style="font-size: small;" label="Trạng thái Đơn hàng"
                    [interfaceOptions]="customPopoverOptions" interface="alert" label-placement="floating"
                    placeholder="Trạng thái đơn hàng" (ionChange)="handleChangeSelectOrderStatus($event)">
                    <ion-select-option *ngFor="let order of initDatas.orderStatus" style="font-size: small;"
                      [value]="order.id">{{order.name}}</ion-select-option>
                    <!-- <ion-select-option  style="font-size: small;" value="0">Chưa nhận yêu cầu</ion-select-option>
                    <ion-select-option  style="font-size: small;" value="1">Đã nhận yêu cầu và đang xử lý</ion-select-option>
                    <ion-select-option  style="font-size: small;" value="2">Đã trả kết quả</ion-select-option> -->
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-buttons style="display: flex; justify-content: space-evenly ; margin-top: 0.5rem;">
                <ion-button size="small" fill="outline" color="medium" title="Huỷ"
                  (click)="cancelFormFilter()"><ion-icon name="close-outline"></ion-icon></ion-button>
                <ion-button size="small" fill="outline" color="danger" title="Xoá lọc"
                  (click)="restartFormFilter()"><ion-icon size="small" name="trash-outline"></ion-icon></ion-button>
                <ion-button size="small" fill="solid" (click)="onSearchByFormFilter()" title="Lọc dữ liệu ..."><ion-icon
                    size="small" name="search-outline"></ion-icon></ion-button>
              </ion-buttons>
            </ion-content>
          </ng-template>
        </ion-popover>
        <!-- <ion-item>
        </ion-item> -->

        <!-- <div style="display: flex; justify-content: center; align-items: center;">
          <ion-list>
            <ion-item>
              <ion-select interface="popover" placeholder="Lọc" >
                <ion-select-option  value="dealthcare">Nhóm BP</ion-select-option>
                <ion-select-option  value="products">Nhóm SP</ion-select-option>
              </ion-select>
              <ion-icon slot="start" name="funnel-outline" color="primary"></ion-icon>
            </ion-item>
          </ion-list>
        </div> -->
      </div>

      <!-- Lựa chọn khoảng thời gian lọc -->
      <div style="display: flex; align-items: center; ">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="calendar-clear-outline" color="primary"></ion-icon>
            <ion-select aria-label="times" interface="alert" value=0 placeholder="Chọn khoảng thời gian lọc ..."
              (ionChange)="handleChangeFilterInterval($event)">

              <ion-select-option value=0>
                --Tất cả--
              </ion-select-option>
              <ion-select-option *ngFor="let time of initDatas.baoCaoDoanhSoType" [value]="time.id">
                {{time.name}}
              </ion-select-option>
              <!-- <ion-select-option value="all">
                --Tất Cả--
              </ion-select-option>
              <ion-select-option value="today">
                Hôm nay
              </ion-select-option>
              <ion-select-option value="yesterday">
                Hôm qua
              </ion-select-option>
              <ion-select-option value="this_week">
                Tuần này
              </ion-select-option>
              <ion-select-option value="7_day_ago">
                7 ngày trước
              </ion-select-option>
              <ion-select-option value="this_month">
                Tháng này
              </ion-select-option>
              <ion-select-option value="30_days_ago">
                30 ngày trước
              </ion-select-option>
              <ion-select-option value="from_day_to_date">
                Từ ngày đến ngày
              </ion-select-option> -->
            </ion-select>

          </ion-item>


          <ion-item *ngIf="filterInterval.isShow">
            <!-- Calenda cho người dùng chọn khoảng thời gian lọc -->
            <!-- <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime> -->
            <!-- <ion-datetime locale="vi-VI"></ion-datetime> -->
            <!-- <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime> -->
            <!-- <ion-datetime>
  <span slot="title">Select a Reservation Date</span>
</ion-datetime> -->
            <!-- <ion-datetime [showDefaultButtons]="true" doneText="All set" cancelText="Never mind"> </ion-datetime> -->
            <!-- <ion-datetime #datetime>
  <ion-buttons slot="buttons">
    <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
    <ion-button color="primary" (click)="datetime.cancel()">Never mind</ion-button>
    <ion-button color="primary" (click)="datetime.confirm()">All Set</ion-button>
  </ion-buttons>
</ion-datetime> -->
            <span style="font-size: small;">Từ ngày: </span>
            <ion-datetime-button datetime="from-datetime" style="font-size: small;"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>


                <ion-datetime #fromDatetime [(ngModel)]="this.filterInterval.pastTime" [showDefaultTitle]="true"
                  [showDefaultButtons]="true" locale="vi-VI" id="from-datetime" [showClearButton]="true"
                  (ionChange)="handleChangeFilterIntervalCustomByUser($event)">
                  <span slot="title">Chọn thời gian bắt đầu</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item *ngIf="filterInterval.isShow">
            <!-- Calenda cho người dùng chọn khoảng thời gian lọc -->
            <!-- <ion-datetime value="2022-04-21T00:00:00" min="2022-03-01T00:00:00" max="2022-05-31T23:59:59"></ion-datetime> -->


            <!-- <ion-datetime locale="vn-VN"></ion-datetime> -->

            <!-- <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime> -->

            <!-- <ion-datetime>
  <span slot="title">Select a Reservation Date</span>
</ion-datetime> -->
            <!-- <ion-datetime [showDefaultButtons]="true" doneText="All set" cancelText="Never mind"> </ion-datetime> -->
            <!-- <ion-datetime #datetime>
  <ion-buttons slot="buttons">
    <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
    <ion-button color="primary" (click)="datetime.cancel()">Never mind</ion-button>
    <ion-button color="primary" (click)="datetime.confirm()">All Set</ion-button>
  </ion-buttons>
</ion-datetime> -->
            <span style="font-size: small;">Đến ngày: </span>
            <ion-datetime-button style="font-size: small;" datetime="toDatetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>

                <ion-datetime #toDatetime [(ngModel)]="this.filterInterval.presentTime" [showDefaultTitle]="true"
                  [showDefaultButtons]="true" locale="vi-VI" id="toDatetime" [showClearButton]="true"
                  [min]="filterInterval.pastTime" (ionChange)="handleChangeFilterIntervalCustomByUser($event)">
                  <span slot="title">Chọn thời gian bắt đầu</span>
                  <!-- <ion-buttons slot="buttons">
                    <ion-button color="danger" (click)="toDatetime.reset()">Reset</ion-button>
                    <ion-button color="primary" (click)="toDatetime.cancel()">Never mind</ion-button>
                    <ion-button color="primary" (click)="toDatetime.confirm()">All Set</ion-button>
                  </ion-buttons> -->
                </ion-datetime>

              </ng-template>
            </ion-modal>
          </ion-item>

        </ion-list>

      </div>
    </div>

    <!-- Nội dung -->
    <div class="content-laboratory">
      <ion-list>

        <!-- Danh các đối tác -->
        <ion-item *ngFor="let request of listRequest; let i = index">
          <!-- Thông tin bệnh nhân -->
          <ion-label>
            <!-- Lịch hẹn -->
            <div class="appointment-date">
              <div *ngIf="(request?.phone)" class="info">
                <div>
                  <ion-icon name="time-outline"></ion-icon>
                </div>
                <h3 class="text">{{request.appointmentDate | date : 'HH:mm dd/MM/YYYY'}}</h3>
              </div>

              <div class="request-type">
                <h3>{{request.requestTypeId | requestTypePipe : listTypeOrder}}</h3>
              </div>
            </div>

            <!-- Số điện thoại -->
            <div *ngIf="(request?.phone)" class="info">
              <div>
                <ion-icon name="call-outline"></ion-icon>
              </div>
              <h3 class="text">{{request.phone}}</h3>
            </div>

            <!-- Địa chỉ -->
            <div *ngIf="(request?.address)" class="info">
              <div>
                <ion-icon name="location-outline"></ion-icon>
              </div>
              <h3 class="text address">{{request.address}}</h3>
            </div>

            <!-- Chỉ định -->
            <div *ngIf="(request?.comment)" class="info">
              <div>
                <ion-icon name="pulse-outline"></ion-icon>
              </div>
              <h3 class="text comment">{{request.comment}}</h3>
            </div>

            <!-- Tình trạng mẫu xét nghiệm *ngIf="(request?.requestType)"-->
            <div class="status">
              <!-- <h3>{{initDatas? (request.partner.status | orderStatus : initDatas?.orderStatus) : request.partner.status}}</h3> -->
              <!-- <h3>{{request.requestType ? request.requestType.requestTypeName : 'Lấy mẫu'}}</h3> -->
              <h3>{{request | statusRequestPipe}}</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Nút thêm mới -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalPatientLab()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!-- Form modal add end edit a Patient  -->

<ion-modal [isOpen]="isModalOpenFormPatient">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar>
        <!-- Nút huỷ modal -->
        <ion-buttons slot="start">
          <ion-button (click)="setOpenModalAddPatient(false)">Huỷ</ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{titleModalAddPatient}}</ion-title>

        <!-- Nút thêm mới xét nghiệm -->
        <ion-buttons slot="end">
          <ion-button (click)="saveModalAddPatient()">Lưu</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Nội dung -->
    <!-- <p>{{itemPatientFormModalLab | json}}</p> -->
    <ion-content class="ion-padding">
      <!-- Label dẫn dắt người dùng-->
      <label [innerHTML]="instructionModalPatient"></label>
      <!-- Khôi nhập dữ liệu -->
      <div>
        <!-- Nhập hình thức thanh toán-->
        <!-- Đối tác (ionCancel)="pushLog('ionCancel fired')" (ionDismiss)="pushLog('ionDismiss fired')"label="Floating label" label-placement="floating"-->
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="options-outline"></ion-icon>
              Loại Yêu cầu <span style="color:red">*</span>
            </ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsRequestType" aria-label="parterns"
              placeholder="Chọn loại yêu cầu ..." (ionChange)="handleChangeRequestType($event)"
              [(ngModel)]="itemPatientFormModalLab.valueRequestType">
              <ion-select-option *ngFor="let typeOrder of listTypeOrder"
                [value]="typeOrder.requestTypeId">{{typeOrder.requestTypeName}}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyRequestType">*Loại yêu cầu không được để trống!</span>
        </ion-col>

        <!-- Nhập tên bệnh nhân -->
        <!-- <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="person-outline"></ion-icon>
              Tên bệnh nhân <span style="color:red">*</span>
            </ion-label>
            <ion-input [(ngModel)]="itemPatientFormModalLab.name" type="text" placeholder="Nhập tên bệnh nhân ..."
              (keyup)="onKeyUpInputNamePatient()"></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyFullName">*Tên bệnh nhân không được để trống!</span>
        </ion-col> -->

        <!-- Nhập số điện thoại -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="call-outline"></ion-icon>
              Số điện thoại <span style="color:red">*</span>
            </ion-label>
            <ion-input type="tel" placeholder="888-888-8888" [(ngModel)]="itemPatientFormModalLab.phone"
              (keyup)="onKeyUpInputNumberPhone()"></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyNumberPhone">*Số điện thoại không được để trống!</span>
        </ion-col>

        <!-- Nhập địa chỉ bệnh nhân -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="location-outline"></ion-icon>
              Địa chỉ <span style="color:red">*</span>
            </ion-label>
            <ion-input [(ngModel)]="itemPatientFormModalLab.address" type="text" (keyup)="onKeyUpInputAddress()"
              placeholder="Nhập địa chỉ ..."></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyAdress">*Địa chỉ không được để trống!</span>
        </ion-col>

        <ion-col>
          <ion-item *ngIf="'true'">
            <div style="display: flex; flex-direction: column;">
              <span>TG Lấy mấu/Thu mẫu: <span style="color:red">*</span></span>
              <ion-datetime-button datetime="time"
                style="margin-top: 0.5rem; margin-bottom: 0.25rem;"></ion-datetime-button>
            </div>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <!-- [(ngModel)]="this.itemPatientFormModalLab.timeSample" -->
                <ion-datetime [(ngModel)]="this.itemPatientFormModalLab.timeSample" size="small"
                  [showDefaultTitle]="true" [showDefaultButtons]="true" locale="vi-VI" id="time"
                  [showClearButton]="true" (ionChange)="handleChangeTimeSample($event)">
                  <span slot="title">TG Lấy mấu/Thu mẫu</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <!-- Nhập đối tác -->
        <!-- Đối tác (ionCancel)="pushLog('ionCancel fired')" (ionDismiss)="pushLog('ionDismiss fired')"label="Floating label" label-placement="floating"-->
        <!-- <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person-outline"></ion-icon>
              TT Đối tác <span style="color:red">*</span>
            </ion-label>
            <ion-select aria-label="parterns" placeholder="Chọn đối tác ..." (ionChange)="handleChangePartner($event)">
              <ion-select-option *ngFor="let partner of listPartner" [value]="partner.id">{{partner.code}} -
                {{partner.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyInfoPartner">*TT Đối tác không được để trống!</span>
        </ion-col> -->


        <!-- Nhập địa chỉ Ghi chú-->
        <!-- <ion-input id="custom-input" label="Custom Counter Format" labelPlacement="floating" [counter]="true"
          maxlength="20" [counterFormatter]="customCounterFormatter"></ion-input> -->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="pencil-outline"></ion-icon>
            Ghi chú
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.notes" type="text" placeholder="Thêm ghi chú ..."></ion-input>
        </ion-item>
      </div>

      <!-- Khối nút điều hướng -->
      <!-- Tiếp tục thêm thông tin bệnh nhân cần lấy mẫu xét nghiệp -->
      <!-- <div style="margin-top:1rem; display: flex; justify-content: end;">
        <ion-buttons slot="primary">
          <ion-button (click)="nextModalPatient()">
            Lưu và thêm mới ...
          </ion-button>
        </ion-buttons>
      </div> -->


    </ion-content>
  </ng-template>
</ion-modal>
