<ion-header>
  <!-- Khu vực tìm kiếm -->
  <div>
    <!-- Tìm liếm - lọc [debounce]="100" id="popover-search" (keyup.enter)="onSearchByKeyword()" -->
    <div style="display: flex;">
      <ion-searchbar style="padding-top: 15px;" autocomplete="on" (ionChange)="handleChangeSearch($event)"
        placeholder="Tìm kiếm ..."></ion-searchbar>

      <!-- Filter -->
      <ion-buttons id="open-modal-form-filter" (click)="presentModalFilter($event)" slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="funnel-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Modal Filter -->
      <ion-modal class="form-filter" #modalFormFilterRequest trigger="open-modal-form-filter">
        <ng-template>
          <ion-content>
            <ion-toolbar color="primary">
              <ion-title>Lọc yêu cầu</ion-title>
              <ion-buttons slot="end">
                <ion-button color="light" (click)="modalFormFilterRequest.dismiss()">Huỷ</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <!-- <ion-label style="font-size: small;">Lọc Đối tác yêu cầu</ion-label> -->
            <ion-list>
              <ion-item>
                <ion-label position="stacked">
                  <ion-icon name="options-outline"></ion-icon>
                  Loại yêu cầu
                </ion-label>
                <ion-select #requestType [interfaceOptions]="customAlertOptionsRequestType" style="font-size: small;"
                  aria-label="parterns" placeholder="Chọn loại yêu cầu ..." clearText="Xoá" doneText="Xong"
                  cancelText="Huỷ" (ionChange)="handleChangeRequestType($event)"
                  [(ngModel)]="formFilterTestSheet.valueRequestTypePatient">
                  <ion-select-option *ngFor="let typeOrder of listTypeOrder"
                    [value]="typeOrder.requestTypeId">{{typeOrder.requestTypeName}}</ion-select-option>
                </ion-select>
              </ion-item>


              <ion-item style="font-size: small;">
                <ion-label position="stacked">
                  <ion-icon name="call-outline"></ion-icon>
                  Số điện thoại
                </ion-label>
                <ion-input type="tel" placeholder="Nhập SĐT ..." [(ngModel)]="formFilterTestSheet.phoneNoPatient"
                  clearInput="true" clearOnEdit="true"></ion-input>
              </ion-item>


              <ion-item style="font-size: small;">
                <ion-label position="stacked">
                  <ion-icon name="location-outline"></ion-icon>
                  Địa chỉ
                </ion-label>
                <ion-input type="text" placeholder="Nhập địa chỉ ..." [(ngModel)]="formFilterTestSheet.addressPatient"
                  clearInput="true" clearOnEdit="true"></ion-input>
              </ion-item>


              <ion-item style="font-size: small;">
                <ion-label position="stacked">
                  <ion-icon name="send-outline"></ion-icon>
                  Trạng thái yêu cầu
                </ion-label>
                <ion-select #orderStatusSelect style="font-size: small;" label="Trạng thái yêu cầu"
                  [interfaceOptions]="customPopoverOptions" interface="alert" label-placement="floating"
                  placeholder="Trạng thái yêu cầu" [value]="formFilterTestSheet.orderStatus" clearText="Xoá"
                  doneText="Xong" cancelText="Huỷ" (ionChange)="handleChangeSelectOrderStatus($event)">
                  <ion-select-option *ngFor="let requestStatus of listRequestStatus" style="font-size: small;"
                    [value]="requestStatus.id">{{requestStatus.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-buttons style="display: flex; justify-content: space-evenly ; margin-top: 0.5rem;">
              <!-- <ion-button size="small" fill="outline" color="medium" title="Huỷ"
                            (click)="cancelFormFilter()"><ion-icon name="close-outline"></ion-icon></ion-button> -->
              <ion-button size="small" fill="outline" color="danger" title="Xoá lọc" (click)="restartFormFilter()">
                <ion-icon size="small" name="trash-outline"></ion-icon>
                Xoá lọc
              </ion-button>
              <ion-button size="small" fill="solid" (click)="onSearchByFormFilter()" title="Lọc dữ liệu ...">
                <ion-icon size="small" name="search-outline"></ion-icon>
                Tìm kiếm
              </ion-button>
            </ion-buttons>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>

    <!-- Lựa chọn khoảng thời gian lọc -->
    <div style="display: flex; align-items: center; margin-bottom: 0.25rem;">
      <ion-list style="width: 100%;">
        <ion-item>
          <ion-icon slot="start" name="calendar-clear-outline" color="primary" size="small" style="margin: 0;"></ion-icon>
          <ion-select #selectFillterInterval interface="action-sheet" [value]="1"
            placeholder="Chọn khoảng thời gian lọc ..." cancelText="Huỷ" style="padding: 0; margin-left: 0.5rem"
            (ionChange)="handleChangeFilterInterval($event)" (ionCancel)="cancelFilterInterval($event)"
            (ionDismiss)="pushLog('ionDismiss fired')" (click)="clickFilterInterval($event)">
            <ion-select-option [value]=0>
              --Tất Cả--
            </ion-select-option>
            <ion-select-option [value]=1>
              Hôm nay
            </ion-select-option>
            <ion-select-option [value]=2>
              Hôm qua
            </ion-select-option>
            <ion-select-option [value]=3>
              7 ngày qua
            </ion-select-option>
            <ion-select-option [value]=4>
              14 ngày qua
            </ion-select-option>
            <ion-select-option [value]=5>
              30 ngày qua
            </ion-select-option>
            <ion-select-option [value]=6>
              Tuần này
            </ion-select-option>
            <ion-select-option [value]=7>
              Tuần trước
            </ion-select-option>
            <ion-select-option [value]=8>
              Tháng này
            </ion-select-option>
            <ion-select-option [value]=9>
              Tháng trước
            </ion-select-option>
            <ion-select-option [value]=10>
              Khoảng TG
            </ion-select-option>
          </ion-select>
            <ion-label *ngIf="filterInterval.isShow && !(dateRange | isEmpty)" style="margin-left: 1rem;">
              {{dateRange.from | date:'dd/MM/yyyy' }} - {{dateRange.to | date:'dd/MM/yyyy'}}
            </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-header>

<!-- <ion-label>formFilterTestSheet value: {{ formFilterTestSheet | json }}</ion-label> -->
<ion-content class="ion-padding">
  <!-- Nội dung -->
  <div>
    <div class="content-laboratory">
      <ion-list>

        <!-- Danh các đối tác -->
        <ion-item *ngFor="let request of listRequest; let i = index">
          <!-- Thông tin bệnh nhân -->
          <ion-label>
            <!-- Lịch hẹn -->
            <div class="appointment-date">
              <div *ngIf="(request?.phone)" class="info">
                <ion-icon name="time-outline"></ion-icon>
                <h3 class="text">{{request.appointmentDate | date : 'HH:mm dd/MM/YYYY'}}</h3>
              </div>

              <div *ngIf="(request?.requestTypeId)"
                [style.color]="request.requestTypeId === 1 ?  '#dcb456' :  '#01606abf'" class="request-type">
                <h3>{{request.requestTypeId | requestTypePipe : listTypeOrder}}</h3>
              </div>
            </div>

            <!-- Số điện thoại -->
            <div *ngIf="(request?.phone)" class="info">
              <ion-icon name="call-outline"></ion-icon>
              <h3 class="text">{{request.phone}}</h3>
            </div>

            <!-- Địa chỉ -->
            <div *ngIf="(request?.address)" class="info">
              <ion-icon name="location-outline"></ion-icon>
              <h3 class="text address">{{request.address}}</h3>
            </div>

            <!-- Chỉ định -->
            <div *ngIf="(request?.comment)" class="info">
              <ion-icon name="pulse-outline"></ion-icon>
              <h3 class="text comment">{{request.comment}}</h3>
            </div>

            <!-- Tình trạng mẫu xét nghiệm *ngIf="(request?.requestType)"-->
            <div *ngIf="(request?.newStatus)" class="status" [ngStyle]="
                {
                  'color' : request.arriveTime === null? '#885dff' : (request.completeTime === null? '#e5ba00' :  '#00e4e2'),
                  'background-color' : request.arriveTime === null ?  '#f5f1ff':  (request.completeTime === null? '#fffbe7' : '#f0ffff')
                }
              ">
              <h3>{{request.newStatus | statusRequestPipe}}</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Nút thêm mới -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalPatientLab()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<!-- Form modal add end edit a Patient  -->
<ion-modal [isOpen]="isModalOpenFormPatient">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="start">
          <ion-button (click)="setOpenModalAddPatient(false)">Huỷ</ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{titleModalAddPatient}}</ion-title>

        <!-- Nút thêm mới xét nghiệm -->
        <ion-buttons slot="end">
          <ion-button (click)="saveModalAddRequest()">Lưu</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Nội dung -->
    <ion-content class="ion-padding">
      <!-- Label dẫn dắt người dùng-->
      <label [innerHTML]="instructionModalPatient"></label>
      <!-- Khôi nhập dữ liệu -->
      <div>
        <!-- Nhập hình thức thanh toán-->
        <!-- Đối tác (ionCancel)="pushLog('ionCancel fired')" (ionDismiss)="pushLog('ionDismiss fired')"label="Floating label" label-placement="floating"-->
        <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="options-outline"></ion-icon>
              Loại yêu cầu <span style="color:red">*</span>
            </ion-label>
            <ion-select [interfaceOptions]="customAlertOptionsRequestType" aria-label="parterns"
              placeholder="Chọn loại yêu cầu ..." clearText="Xoá" doneText="Xong" cancelText="Huỷ"
              (ionChange)="handleChangeRequestType($event)" [(ngModel)]="itemPatientFormModalLab.valueRequestType">
              <ion-select-option *ngFor="let typeOrder of listTypeOrder"
                [value]="typeOrder.requestTypeId">{{typeOrder.requestTypeName}}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyRequestType">*Loại yêu cầu không được để trống!</span>
        </ion-col>

        <!-- Nhập tên bệnh nhân -->
        <!-- <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="person-outline"></ion-icon>
              Tên bệnh nhân <span style="color:red">*</span>
            </ion-label>
            <ion-input [(ngModel)]="itemPatientFormModalLab.name" type="text" placeholder="Nhập tên bệnh nhân ..."
              (keyup)="onKeyUpInputNamePatient()"></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyFullName">*Tên bệnh nhân không được để trống!</span>
        </ion-col> -->

        <!-- Nhập số điện thoại -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="call-outline"></ion-icon>
              Số điện thoại <span style="color:red">*</span>
            </ion-label>
            <ion-input type="tel" placeholder="888-888-8888" [(ngModel)]="itemPatientFormModalLab.phone"
              (keyup)="onKeyUpInputNumberPhone()"></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyNumberPhone">*Số điện thoại không được để trống!</span>
        </ion-col>

        <!-- Nhập địa chỉ bệnh nhân -->
        <ion-col>
          <ion-item>
            <ion-label position="stacked">
              <ion-icon name="location-outline"></ion-icon>
              Địa chỉ <span style="color:red">*</span>
            </ion-label>
            <ion-input type="text" (keyup)="onKeyUpInputAddress()" [(ngModel)]="itemPatientFormModalLab.address"
              placeholder="Nhập địa chỉ ..."></ion-input>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyAdress">*Địa chỉ không được để trống!</span>
        </ion-col>

        <ion-col>
          <ion-item *ngIf="'true'">
            <div style="display: flex; flex-direction: column;">
              <span style="font-size: small;">TG Lấy mấu/Thu mẫu: <span style="color:red">*</span></span>
              <ion-datetime-button datetime="time"
                style="margin-top: 0.5rem; margin-bottom: 0.25rem; font-size: small;"></ion-datetime-button>
            </div>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <!-- [(ngModel)]="this.itemPatientFormModalLab.timeSample" -->
                <ion-datetime [(ngModel)]="this.itemPatientFormModalLab.timeSample" size="small"
                  [showDefaultTitle]="true" [showDefaultButtons]="true" locale="vi-VI" id="time" clearText="Xoá"
                  doneText="Xong" cancelText="Huỷ" [showClearButton]="true"
                  (ionChange)="handleChangeTimeSample($event)">
                  <span slot="title">TG Lấy mấu/Thu mẫu</span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <!-- Nhập đối tác -->
        <!-- Đối tác (ionCancel)="pushLog('ionCancel fired')" (ionDismiss)="pushLog('ionDismiss fired')"label="Floating label" label-placement="floating"-->
        <!-- <ion-col>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="person-outline"></ion-icon>
              TT Đối tác <span style="color:red">*</span>
            </ion-label>
            <ion-select aria-label="parterns" placeholder="Chọn đối tác ..." (ionChange)="handleChangePartner($event)">
              <ion-select-option *ngFor="let partner of listPartner" [value]="partner.id">{{partner.code}} -
                {{partner.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <span class="m-error" *ngIf="validFormInput.isEmptyInfoPartner">*TT Đối tác không được để trống!</span>
        </ion-col> -->


        <!-- Nhập địa chỉ Ghi chú-->
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="pencil-outline"></ion-icon>
            Ghi chú
          </ion-label>
          <ion-input [(ngModel)]="itemPatientFormModalLab.notes" type="text" placeholder="Thêm ghi chú ..."></ion-input>
        </ion-item>
      </div>

      <!-- Khối nút điều hướng -->
      <!-- Tiếp tục thêm thông tin bệnh nhân cần lấy mẫu xét nghiệp -->
      <!-- <div style="margin-top:1rem; display: flex; justify-content: end;">
        <ion-buttons slot="primary">
          <ion-button (click)="nextModalPatient()">
            Lưu và thêm mới ...
          </ion-button>
        </ion-buttons>
      </div> -->


    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class='form-filter-interval' #modalFilterInterval>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="start">
          <ion-button (click)="modalFilterInterval.dismiss()">Huỷ</ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Khoảng thời gian lọc</ion-title>

        <!-- Nút lọc -->
        <ion-buttons slot="end">
          <ion-button [disabled]="dateRange | isEmpty" (click)="filterIntervalt()">Lọc</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'">
      </ion-calendar>
    </ion-content>
  </ng-template>
</ion-modal>