.conv-item h2{
  font-size: 16px;
  color: #222;
}
.div-message{
  display: flex;
  .last-message{
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    word-break: break-word;
    font-size: 14px;
    line-height: 22px;
    color: #777;
  }
  .time{
    font-size: 10px;
    font-weight: lighter;
    line-height: 22px;
  }
  .dot{
    padding: 0 3px;
  }
}
