/*ion-tab-button ion-icon{
  height: 25px !important;
}*/

.tab-bottom {
  ion-icon {
    font-size: 26px !important;
  }

  ion-label {
    font-size: 12px;
  }

  .button-native {
    padding: 0 !important;
  }

  a.button-native {
    padding-start: 0;
    padding-end: 0;
  }
}

.button-native {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  background: red;
}

.title-menu-partner {
  width: auto;
  display: flex;
  justify-content: center;

  ion-chip {
    background-color: #fff9ef7a;

    &:hover {
      transition: transform 0.2s ease-in-out;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffd2889c;
      /* Màu tương phản sáng */
    }

    // &:focus {
    //   transform: scale(1.05); /* Bạn có thể điều chỉnh giá trị để thay đổi độ lớn khi click */
    //   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    //   background-color: #FFA500; /* Màu tương phản tối (màu cam) */
    // }


    &:active {
      transform: scale(1.05);
      /* Bạn có thể điều chỉnh giá trị để thay đổi độ lớn khi click */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      background-color: #ffbd43;
      /* Màu tương phản tối (màu cam) */
    }

  }


}

.logout-button-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.bar-chart-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.bar-chart {
  height: 250px;
  // width: 400px;
}

.colSmall {
  width: 43px;
  overflow: hidden;
}

.colLarge {
  max-width: 100%;
  overflow-x: scroll;
}

.box {
  width: calc(100% - 41px);
  height: 100%;
}


// avatar-modal
ion-modal#avatar-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  h1 {
    margin: 20px 20px 10px 20px;
  }

  ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
  }

  .wrapper {
    margin-bottom: 10px;
  }
}


ion-card-subtitle {
  font-style: italic;
  margin-top: 0.5rem;
}


h2 {
  display: flex;
  justify-content: left;
  font-size: large;
  font-weight: 600;
  color: #01606a;

  ion-icon {
    margin-right: 0.5rem;
  }
}

p {
  white-space: break-spaces;
  color: #363636;
  // letter-spacing: 0.5px;
  text-indent: 0.75rem;
  // font-family: 'Times New Roman';
  font-size: medium;
  // line-height: 1.2rem;
  text-align: justify;
}

ion-card-content {
  line-height: normal;
}
