<ion-tabs #tabs (ionTabsDidChange)="tabClicked($event)" (ionViewDidLeave)="ionViewDidLeave()">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <!-- Tiêu đề Menu -->
        <!-- <ion-title>Menu Content</ion-title> -->
        <div class="title-menu-partner">
          <ion-chip color="dark" (click)="setOpenModalUser(true)">
            <ion-avatar>
              <img alt="Avatar của bạn" [src]="userInfoShow?.linkAvatar?  userInfoShow.linkAvatar : linkAvatarDefault" />
            </ion-avatar>
            <ion-label>{{userInfo?.username? userInfo.username : 'Anonymous' }}</ion-label>
          </ion-chip>
        </div>
        <!-- Nội dung menu -->
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button detail="true" (click)="setOpenModalContact(true)">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>Liên hệ</ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="openTabService()">
          <ion-icon slot="start" name="information-outline"></ion-icon>
          <ion-label>Thông tin dịch vụ</ion-label>
        </ion-item>
        <ion-item button detail="true" (click)="setOpenModalContentAbout(true)">
          <ion-icon slot="start" name="ellipsis-horizontal-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item> -->
        <!-- <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item> -->
        <!-- <ion-item>
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item> -->
      </ion-list>
      <!-- Nút "Đăng xuất" -->
      <div class="logout-button-wrapper">
        <ion-button size="medium" color="light" (click)="presentAlertLogout()">Đăng xuất<ion-icon slot="end"
            name="log-out-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
      <!-- <div id="bar-chart-container">
        <canvas #barCanvas></canvas>
      </div> -->
    </ion-content>
  </ion-menu>
  <!-- Header -->
  <ion-header>
    <div class="ion-page" id="main-content"></div>
    <!-- Toolbar -->
    <ion-toolbar class="toolbar-app" color="primary">
      <!-- Icon Menu -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- Tiêu đề -->
      <ion-title>{{titleApp}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom" class="tab-bottom">
    <!-- <ion-tab-button tab="tab1" color="secondary" class="ion-no-padding">
      <ion-icon [color]="selectedTab !== 'tab1' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'tab1' ? 'home-outline' : 'home'" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" class="ion-no-padding">
      <ion-icon [color]="selectedTab !== 'tab2' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'tab2' ? 'notifications-outline' : 'notifications'"></ion-icon>
      <ion-label>Tab 1</ion-label>
      <ion-badge color="danger">8</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="tab3" class="ion-no-padding">
      <ion-icon [color]="selectedTab !== 'tab3' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'tab3' ? 'call-outline' : 'call'"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="feed" class="ion-no-padding">
      <ion-icon [color]="selectedTab !== 'feed' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'feed' ? 'newspaper-outline' : 'newspaper'"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->


    <ion-tab-button tab="requests" color="secondary" class="ion-no-padding" (click)="titleApp = 'Yêu cầu'">
      <ion-icon [color]="selectedTab !== 'requests' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'requests' ? 'git-pull-request-outline' : 'git-pull-request'"
        name="git-pull-request-outline"></ion-icon>
      <ion-label>Yêu cầu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="laboratory" color="secondary" class="ion-no-padding" (click)="titleApp = 'Xét nghiệm'">
      <ion-icon [color]="selectedTab !== 'laboratory' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'laboratory' ? 'clipboard-outline' : 'clipboard'" name="clipboard-outline"></ion-icon>
      <ion-label>Kết quả</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="services" color="secondary" class="ion-no-padding" (click)="titleApp = 'Thông tin dịch vụ'">
      <ion-icon [color]="selectedTab !== 'services' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'services' ? 'prism-outline' : 'prism'" name="prism-outline"></ion-icon>
      <ion-label>Dịch vụ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications" color="secondary" class="ion-no-padding" (click)="titleApp = 'Thông báo'">
      <ion-icon [color]="selectedTab !== 'notifications' ? 'medium' : 'primary'"
        [name]="selectedTab !== 'notifications' ? 'notifications-outline' : 'notifications'"
        name="notifications-outline"></ion-icon>
      <ion-label>Thông báo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Thông tin user -->
<ion-modal [isOpen]="isModalOpenUser">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalUser(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Tiêu đề Modal -->
        <ion-title>{{userInfo?.username? userInfo.username : 'Anonymous'}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <ion-avatar style="height: fit-content; width: fit-content;">
          <ion-img [src]="userInfoShow?.linkAvatar? userInfoShow.linkAvatar : linkAvatarDefault"
            style="width: 6rem; height: 6rem;"></ion-img>
        </ion-avatar>

        <ion-button size="small" style="margin-top: 0.5rem;" (click)="setOpenModalFormEditInfoUser(true)">Chỉnh sửa hồ
          sơ</ion-button>
      </div>

      <!-- Họ và tên User -->
      <ion-list *ngIf="!(userInfoShow | isEmpty) || true">
        <ion-item lines="none" *ngIf="userInfoShow.fullname">
          <ion-icon name="person-circle-outline" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h3>Họ và tên</h3>
            <p>{{userInfoShow.fullname}}</p>
          </ion-label>
        </ion-item>

        <!-- Mã KH User -->
        <ion-item lines="none" *ngIf="userInfoShow.code">
          <ion-icon name="barcode" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h3>Mã KH</h3>
            <p>{{userInfoShow.code}}</p>
          </ion-label>
        </ion-item>

        <!-- Số điện thoại -->
        <ion-item lines="none" *ngIf="userInfoShow.phoneNo">
          <ion-icon name="call" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h3>Số điện thoại</h3>
            <p>{{userInfoShow.phoneNo}}</p>
          </ion-label>
        </ion-item>

        <!-- Địa chỉ User -->
        <ion-item lines="none" *ngIf="userInfoShow.address">
          <ion-icon name="location" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h3>Địa chỉ</h3>
            <p style="white-space: break-spaces;">{{userInfoShow.address}}</p>
          </ion-label>
        </ion-item>

        <!-- Link facebook user -->
        <ion-item lines="none" *ngIf="userInfoShow.socialNetwork.facebook">
          <ion-icon name="logo-facebook" color="primary" slot="start"></ion-icon>
          <ion-label>
            <h3>Facebook</h3>
            <p>{{userInfoShow.socialNetwork.facebook}}</p>
          </ion-label>
        </ion-item>

        <!-- Zalo -->
        <ion-item lines="none" *ngIf="userInfoShow.socialNetwork.zalo">
          <!-- <ion-icon name="globe-outline" slot="start"></ion-icon> -->
          <!-- <i class="fa-brands fa-telegram fa-xl" style="margin-inline: 0px 20px;"></i> -->
          <!-- <ion-icon name="megaphone-outline" slot="start"></ion-icon> -->
          <img width="26" height="26" src="https://img.icons8.com/color/50/zalo.png" alt="zalo" style="color: #026069;"
            style="margin-inline: 0px 1.3rem;" />
          <!-- <ion-img src="https://img.icons8.com/ios-filled/50/zalo.png" alt="zalo" style="margin-inline: 0px 1.3rem;"/> -->
          <!-- <img src="/src/assets/icon/zalo.svg"> -->
          <ion-label>
            <h3>Zalo</h3>
            <p>{{userInfoShow.socialNetwork.zalo}}</p>
          </ion-label>
        </ion-item>

        <!-- Telegram -->
        <ion-item lines="none" *ngIf="userInfoShow.socialNetwork.telegram">
          <i class="fa-brands fa-telegram fa-xl" style="margin-inline: 0px 1.3rem; color: #026069;"></i>
          <!-- <ion-icon name="fa-brands fa-telegram" slot="start"></ion-icon> -->
          <!-- <ion-icon slot="start"><i class="fa-brands fa-telegram"></i></ion-icon> -->
          <ion-label>
            <h3>Telegram</h3>
            <p>{{userInfoShow.socialNetwork.telegram}}</p>
            <!-- <p>{{'Telegram'}}</p> -->
          </ion-label>
        </ion-item>


        <!-- Twitter -->
        <ion-item lines="none" *ngIf="userInfoShow.socialNetwork.telegram">
          <!-- <ion-icon name="globe-outline" slot="start"></ion-icon> -->
          <i class="fa-brands fa-twitter fa-lg" style="margin-inline: 0px 1.5rem; color: #026069;"></i>
          <ion-label>
            <h3>Twitter</h3>
            <p>{{userInfoShow.socialNetwork.twitter}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button size="medium" fill="clear" (click)="setOpenModalSales(true)">
        <i class="fa-sharp fa-solid fa-chart-simple" style="margin-inline: 0px 10px; color: #026069;"></i>
        Doanh số
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Thông tin Doanh số -->
<ion-modal [isOpen]="isModalOpenSales">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalSales(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Tiêu đề Modal -->
        <ion-title>Doanh số</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item style="font-weight: bold;">
          <ion-label>Hạng:</ion-label>
          <ion-text>Platium</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Doanh số:</ion-label>
          <ion-text>{{2038800 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Chiếu khấu:</ion-label>
          <ion-text>{{5050000 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Chưa thanh toán:</ion-label>
          <ion-text>{{10549000 | currency : 'VND'}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar-clear-outline" color="primary"></ion-icon>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Chọn khoảng thời gian lọc">
            <ion-select-option value="all">
              --Tất Cả--
            </ion-select-option>
            <ion-select-option value="today">
              Hôm nay
            </ion-select-option>
            <ion-select-option value="yesterday">
              Hôm qua
            </ion-select-option>
            <ion-select-option value="this_week">
              Tuần này
            </ion-select-option>
            <ion-select-option value="7_day_ago">
              7 ngày trước
            </ion-select-option>
            <ion-select-option value="this_month">
              Tháng này
            </ion-select-option>
            <ion-select-option value="30_days_ago">
              30 ngày trước
            </ion-select-option>
            <ion-select-option value="from_day_to_date">
              Từ ngày đến ngày
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Bệnh lý:</ion-label>
        </ion-item>
        <ion-item>
          <div class="bar-chart-container">
            <div class="colSmall">
              <canvas class="bar-chart" #barCanvas1></canvas>
            </div>
            <div class="colLarge">
              <div class="box">
                <canvas class="bar-chart" #barCanvas3></canvas>
              </div>
            </div>
          </div>
        </ion-item>
        <ion-item>
          <ion-label>Nhóm sản phẩm chiến lược:</ion-label>
        </ion-item>
        <ion-item>
          <div class="bar-chart-container" style="overflow-x: scroll;">
            <canvas class="bar-chart" #barCanvas2></canvas>
          </div>
        </ion-item>
      </ion-list>
      <!-- <app-pie-chart></app-pie-chart> -->
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Liên hệ-->
<ion-modal [isOpen]="isModalOpenContact">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalContact(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Tiêu đề Modal -->
        <ion-title>{{titleContact}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-button size="medium" color="medium" expand="block" fill="outline" style="width: 100%;"
            (click)="presentAlertContactSalesStaff()">Nhân viên kinh doanh</ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="medium" color="medium" expand="block" fill="outline" style="width: 100%;"
            (click)="presentAlertContactSwitchboard()">Tổng đài</ion-button>
        </ion-item>
        <ion-item>
          <ion-button size="medium" color="medium" expand="block" fill="outline" style="width: 100%;"
            (click)="presentAlertContactPaymentDepartment()">Bộ phận thanh toán</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- About - Về chúng tôi-->
<ion-modal [isOpen]="isModalOpenContentAbout">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalContentAbout(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Tiêu đề Modal -->
        <ion-title>{{titleApp}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- <div [innerHTML]="contentAbout"></div> -->


      <div>
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #d69b12;">
            GIỚI THIỆU
          </h2>
          <p style="white-space: break-spaces; color: #686868;">
            Invivo Lab lấy chất lượng và sự chuyên nghiệp làm giá trị cốt lõi cho sự phát triển bền vững.
          </p>
        </ion-label>
      </div>
      <div>
        <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
          Trung tâm xét nghiệm Invivo Lab
        </h2>
        <ion-img src="https://invivolab.vn/wp-content/uploads/2023/04/Invivo_buildding.webp"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        <ion-label>
          <p style="white-space: break-spaces;  color: #686868;">
            Invivo Lab là trung tâm xét nghiệm uy tín tại Hà Nội trực thuộc CÔNG TY CỔ PHẦN ĐẦU TƯ VÀ PHÁT TRIỂN CÔNG
            NGHỆ Y TẾ VINH ĐỨC thành lập ngày 27/05/2021.
          </p>
          <p style="white-space: break-spaces;  color: #686868;">
            Là một hệ thống chuyên cung cấp các dịch vụ xét nghiệm nhằm chẩn đoán và điều trị bệnh. Chúng tôi sở hữu đội
            ngũ nhân viên chuyên nghiệp và máy móc chất lượng cho kết quả xét nghiệm chính xác.
          </p>
        </ion-label>
      </div>

      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Tầm nhìn của chúng tôi
          </h2>
          <p style="white-space: break-spaces; color: #686868;">
            Trở thành hệ thống trung tâm xét nghiệm uy tín và tiên phong trong việc đầu tư, phát triển công nghệ hiện
            đại. Invivo Lab hướng đến việc xây dựng nền tảng dữ liệu cho đối tác và khách hàng nhằm trở thành người đồng
            hành trong quản trị sức khỏe người dân Việt Nam.
          </p>
        </ion-label>
      </div>
      <ion-img src="https://invivolab.vn/wp-content/uploads/2023/04/talent_mission_resize.webp"
        alt="Tầm nhìn và sứ mệnh"></ion-img>
      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Sứ mệnh của chúng tôi
          </h2>
          <p style="white-space: break-spaces; color: #686868;">
            Xây dựng thói quen cho khách hàng trong việc quản trị sức khỏe thông qua công nghệ xét nghiệm hiện đại để
            phát hiện dấu hiệu bệnh sớm nhất và phòng bệnh kịp thời, làm cho việc phòng bệnh trở nên đơn giản.
          </p>
        </ion-label>
      </div>

      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Đội ngũ chuyên môn
          </h2>
          <p style="white-space: break-spaces; color: #686868;">
            Bác sĩ tại Invivo Lab đều là các chuyên gia đầu ngành có tiếng trên cả nước, có chuyên môn cao và kinh
            nghiệm dày dặn đã trải qua quá trình đào tạo và làm việc tại các bệnh viện lớn.
          </p>
        </ion-label>
        <ion-card>
          <img alt="PGS. TS. Bs PHẠM THIỆN NGỌC"
            src="https://invivolab.vn/wp-content/uploads/2023/04/Bac-si-Pham-Thien-Ngoc-1-300x300.webp" />
          <ion-card-header>
            <ion-card-title style="font-size: medium;">PGS. TS. Bs PHẠM THIỆN NGỌC</ion-card-title>
            <ion-card-subtitle>Nguyên trưởng khoa hoá sinh bệnh viện Bạch Mai</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Chủ tịch hội đồng chuyên môn Invivo Lab.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="PGS. TS. Bs NGUYỄN VĂN HƯNG"
            src="https://invivolab.vn/wp-content/uploads/2023/04/Bac-si-Nguyen-Van-Hung-1-300x300.webp" />
          <ion-card-header>
            <ion-card-title style="font-size: medium;">PGS. TS. Bs NGUYỄN VĂN HƯNG</ion-card-title>
            <ion-card-subtitle>Nguyên trưởng khoa giải phẫu bệnh viện đại học Y Hà Nội</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Cố vấn chuyên môn Invivo Lab.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="PGS. TS. BS NGÔ THẾ TOÀN"
            src="https://invivolab.vn/wp-content/uploads/2023/04/Bac-si-Toan-1-300x300.webp" />
          <ion-card-header>
            <ion-card-title style="font-size: medium;">PGS. TS. BS NGÔ THẾ TOÀN</ion-card-title>
            <ion-card-subtitle>Bác sĩ Chuyên môn Invivo Lab</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Phụ trách chuyên môn Invivo Lab.
          </ion-card-content>
        </ion-card>

      </div>


      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Cơ sở vật chất, trang thiết bị hiện đại
          </h2>
          <p style="white-space: break-spaces; color: #686868;">
            Invivo Lab mang ưu điểm vượt trội về hệ thống tự động Cobas – Roche 6000 Hệ thống tự động Cobas – Roche là
            hệ thống tự động với công suất 1000 test hóa sinh/ giờ và 170 test miễn dịch/ giờ.
          </p>
        </ion-label>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Cobas - 6000" src="https://invivolab.vn/wp-content/uploads/2023/04/cobas__6000_c2.webp" />
            </ion-thumbnail>
            <ion-label>Cobas - 6000</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains"
                src="https://invivolab.vn/wp-content/uploads/2023/04/cobas_e_411_c1.webp" />
            </ion-thumbnail>
            <ion-label>Cobas - 411</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Cobas - U411" src="https://invivolab.vn/wp-content/uploads/2023/04/Cobas-u411_c3.webp" />
            </ion-thumbnail>
            <ion-label>Cobas - U411</ion-label>
          </ion-item>

          <img alt="Máy quét siêu âm toàn bộ cơ thể"
            src="https://invivolab.vn/wp-content/uploads/2023/04/Invivo-Lab_pic1.webp" />

          <img alt="Máy quét siêu âm toàn bộ cơ thể"
            src="https://invivolab.vn/wp-content/uploads/2023/04/hinh_may_moc_1_resize.webp" />

          <img alt="Phòng thí nghiệm"
            src="https://invivolab.vn/wp-content/uploads/2023/04/hinh_may_moc_2_resize.webp" />
        </ion-list>
      </div>

      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Liên hệ ngay để được tư vấn!
          </h2>
          <ion-item lines="none">
            <img alt="Số điện thoại liên hệ" src="https://invivolab.vn/wp-content/uploads/2023/02/Call_icon.png" />
            <ion-label>1900 8668 96</ion-label>
          </ion-item>
          <p style="white-space: break-spaces; color: #686868;">
            Với đội ngũ chuyên gia dày dặn kinh nghiệm. Chúng tôi luôn ở đây và rất sẵn lòng được giải đáp các thắc mắc
            của các bạn!
          </p>
        </ion-label>

      </div>

      <div style="margin-top: 0.4rem;">
        <ion-label>
          <h2 style="display: flex; justify-content: center; font-size: large; font-weight: 600; color: #01606a;">
            Thông tin khác
          </h2>
        </ion-label>
        <div style="display: flex; justify-content: center;">
          <img alt="Chứng chỉ"
            src="https://invivolab.vn/wp-content/uploads/2023/04/Form_info_update_time-3-244x300.png" />
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Sửa thông tin User-->
<ion-modal [isOpen]="isModalOpenFormEditInfoUser">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="start">
          <ion-button (click)="setOpenModalFormEditInfoUser(false)">Huỷ</ion-button>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>{{titleApp}}</ion-title>

        <!-- Nút thêm mới xét nghiệm -->
        <ion-buttons slot="end">
          <ion-button (click)="saveModalFormEditInfoUser()">Lưu</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Nội dung -->
    <ion-content class="ion-padding">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <!-- <ion-avatar style="height: fit-content; width: fit-content;" id="open-avatar-dialog">
          <ion-img [src]="userInfo?.avatar? userInfo.avatar : linkAvatarDefault"
            style="width: 6rem; height: 6rem;"></ion-img>
        </ion-avatar> -->
        <!-- Avatar -->
        <ion-chip style="height: 4rem; width: 8rem;" id="open-avatar-dialog">
          <ion-avatar style="height: 2.8rem; width: 2.8rem;">
            <img alt="Avater User" [src]="userInfoEdit?.linkAvatar? userInfoEdit.linkAvatar : linkAvatarDefault" />
          </ion-avatar>

          <!-- <ion-label>{{userInfo.username}}</ion-label> -->
          <ion-icon size="large" name="create-outline"></ion-icon>
        </ion-chip>
        <!-- Modal lựa chọn avata cho user -->
        <ion-modal id="avatar-modal" #modal_avatar trigger="open-avatar-dialog">
          <ng-template>
            <div class="wrapper">
              <h1>DS Avatar </h1>

              <ion-list lines="inset" style="overflow: scroll; max-height: 325px;">
                <ion-item button *ngFor="let srcAvatar of listSrcAvatar; let i = index"
                  (click)="selectedAvatar(srcAvatar)">
                  <ion-avatar slot="start">
                    <ion-img [src]="srcAvatar"></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{userInfo.username}}</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ng-template>
        </ion-modal>
      </div>


      <ion-list *ngIf="!(userInfo | isEmpty) || true">
        <!-- Chỉnh sửa họ và tên -->
        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="person-circle-outline"></ion-icon>
            Họ và tên
          </ion-label>
          <!-- value="{{userInfo.fullname}}" -->
          <ion-input [(ngModel)]="userInfoEdit.fullname" placeholder="Họ Và Tên"></ion-input>
        </ion-item>

        <!-- Chỉnh sửa mã khách hàng -->
        <ion-item >
          <ion-label position="stacked">
            <ion-icon name="barcode-outline"></ion-icon>
            Mã KH
          </ion-label>
          <!-- value="{{userInfo.code}}" -->
          <ion-input disabled="true" [(ngModel)]="userInfoEdit.code" placeholder="ABC12345"></ion-input>
        </ion-item>

        <!-- Chỉnh sửa số điện thoại -->
        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="call-outline"></ion-icon>
            Số điện thoại
          </ion-label>
          <!-- value="{{userInfo.phone}}" -->
          <ion-input [(ngModel)]="userInfoEdit.phoneNo" placeholder="888-888-8888" type='tel'></ion-input>
        </ion-item>

        <!-- Chỉnh sửa địa chỉ -->
        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="location-outline"></ion-icon>
            Địa chỉ
          </ion-label>
          <!-- value="{{userInfo.address}}" -->
          <ion-input [(ngModel)]="userInfoEdit.address" placeholder="Địa chỉ ..."></ion-input>
        </ion-item>

        <!-- Chỉnh sửa địa chỉ facebook -->
        <ion-item>
          <ion-label position="stacked">
            <ion-icon name="logo-facebook"></ion-icon>
            Facebook
          </ion-label>
          <!-- value="{{userInfo.socialNetwork.facebook}}" -->
          <ion-input [(ngModel)]="userInfoEdit.socialNetwork.facebook" placeholder="Link facebook..."></ion-input>
        </ion-item>

        <!-- Chỉnh sửa địa chỉ Zalo -->
        <ion-item>
          <ion-label position="stacked">
            <img width="15" height="15" src="https://img.icons8.com/ios-filled/50/zalo.png" alt="zalo" />
            Zalo
          </ion-label>
          <!-- value="{{userInfo.socialNetwork.zalo}}" -->
          <ion-input [(ngModel)]="userInfoEdit.socialNetwork.zalo" placeholder="Link zalo..."></ion-input>
        </ion-item>

        <!-- Chỉnh sửa địa chỉ Telegram -->
        <ion-item>
          <ion-label position="stacked">
            <i class="fa-brands fa-telegram fa-xs"></i>
            Telegram
          </ion-label>
          <!-- value="{{userInfo.socialNetwork.telegram}}" -->
          <ion-input [(ngModel)]="userInfoEdit.socialNetwork.telegram" placeholder="Link telegram..."></ion-input>
        </ion-item>

        <!-- Chỉnh sửa địa chỉ Twitter -->
        <ion-item>
          <ion-label position="stacked">
            <i class="fa-brands fa-twitter fa-xs"></i>
            Twitter
          </ion-label>
          <!-- value="{{userInfo.socialNetwork.tiwtter}}" -->
          <ion-input [(ngModel)]="userInfoEdit.socialNetwork.twitter" placeholder="Link twitter..."></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
