/*ion-tab-button ion-icon{
  height: 25px !important;
}*/

.tab-bottom {
  ion-icon {
    font-size: 26px !important;
  }

  ion-label {
    font-size: 12px;
  }

  .button-native {
    padding: 0 !important;
  }

  a.button-native {
    padding-start: 0;
    padding-end: 0;
  }
}

.button-native {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  background: red;
}

.title-menu-partner {
  width: auto;
  display: flex;
  justify-content: center;
}

.logout-button-wrapper{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.bar-chart-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.bar-chart {
  height: 250px;
  // width: 400px;
}

.colSmall {
  width: 43px;
  overflow: hidden;
}

.colLarge {
  max-width: 100%;
  overflow-x: scroll;
}

.box {
  width: calc(100% - 41px);
  height: 100%;
}

