ion-list {
  ion-item ion-img {
    margin: 100px auto;
  }
  ion-label em {
    font-size: 10px;
    float: right;
    font-style: normal;
    padding-top: 4px;
  }
  .message-title{
    display: flex;
    span{
      font-size: 15px;
      margin-right: 10px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      word-break: break-word;
      margin-bottom: 5px;
      width: 100%;
      color: var(--ion-color-medium);
    }
  }
  .message-title.false{
    span{
      font-weight: bold;
      color: #333;
    }
  }
  ion-avatar {
    margin-right: 15px;
    margin-left: 15px;
    ion-icon{
      font-size: 40px;
    }
  }
  .message-content{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    white-space: normal;
  }
  .message-content.false{
    font-weight: bold;
    color: #333;
  }
}
