// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: "sfprotext";
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Text-Regular.woff");
}
:root {
  --ion-font-family: 'sfprotext';
  /** primary **/
  --ion-color-primary: #0353B4;
  --ion-color-primary-rgb: 31, 45, 199;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #03478e;
  --ion-color-primary-tint: #3542cd;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-border-light: #eee;

  /** table header **/
  --ion-color-table-header: #F3F6FF;
  --ion-color-table-header-rgb: 244, 245, 248;
  --ion-color-table-header-contrast: #000000;
  --ion-color-table-header-contrast-rgb: 0, 0, 0;
  --ion-color-table-header-shade: #d7d8da;
  --ion-color-table-header-tint: #f5f6f9;

  --ion-color-green: #219653;
  --ion-color-red: #EB5757;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  /** warning **/
}
$theme-colors: (
  "color-1":      linear-gradient(180deg, var(--blue) 0.45%, #263dfc 99.87%),
  "color-2":      linear-gradient(180deg, var(--indigo) 0.45%, #6610F2 99.87%),
  "color-3":      linear-gradient(180deg, var(--purple) 0.45%, #8252C1 99.87%),
  "color-4":      linear-gradient(180deg, var(--pink) 0.45%, #E81970 99.87%),
  "color-5":      linear-gradient(180deg, var(--red) 0.45%, #DC1219 99.87%),
  "color-6":      var(--orange),
  "color-7":      linear-gradient(180deg, var(--green) 0.45%, #058213 99.87%),
  "color-0":      linear-gradient(180deg, var(--teal) 0.45%, #0AAB66 99.87%),
) !default;
@each $name, $color in $theme-colors {
  .m-avatar.#{$name} {
    background: $color;
  }
}
