<ion-content>
  <img style="position: absolute;right: 0" src="/assets/images/login_bg_top.png">
  <ion-card style="margin-top: 150px" class="ion-no-margin ion-no-padding ion-no-box-shadow">
    <ion-card-header class="ion-no-padding">
      <ion-card-title class="ion-cen">
        <ion-img style="max-width: 100%;width: 125px;margin: 5px auto;" src="/assets/images/invivo.png"></ion-img>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-icon size="small" color="primary" name="person-outline"></ion-icon>
        <ion-label></ion-label>
        <ion-input [(ngModel)]="username" placeholder="Tên đăng nhập"></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-icon size="small" color="primary" name="key-outline"></ion-icon>
        <ion-label></ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Mật khẩu"></ion-input>
      </ion-item>
      <!-- <div class="ion-margin-bottom">
        (click)="showAlertPassword()"
        <ion-label id="open-modal-forgot-password" color="primary">Quên mật khẩu</ion-label>
      </div> -->
      <!-- <ion-nav-link router-direction="forward" [component]="forgotPasswordComponent">
        <ion-button>Quên mật khẩu</ion-button>
      </ion-nav-link> -->
      <ion-buttons slot="center" style="justify-content: space-around;">
        <ion-button size="medium" (click)="navigateForgotPassword()"> Quên mật khẩu </ion-button>
      </ion-buttons>
      <div class="ion-margin-bottom">
        <ion-button (click)="doLogin()" style="width: 100%" color="primary">Đăng nhập</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="footer-bg">
    <label style="font-size: 12px;background: transparent" color="primary" class="ion-text-center">
      <p style="margin: 5px 0;color: #555;font-size: 14px;">Phiên bản: 1.0.1</p>
      <p style="margin: 5px 0;color: #555;font-size: 14px;">© Copyright Mesoco</p>
    </label>
  </div>
</ion-content>

<!-- Xác minh tài khoản -->
<ion-modal #modalForgotPasssword trigger="open-modal-forgot-password">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút quay lại -->
        <ion-buttons slot="start" (click)="modalForgotPasssword.dismiss()">
          <!-- <ion-back-button defaultHref="#" text=""></ion-back-button> -->
          Đóng
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Xác minh tài khoản</ion-title>


        <ion-buttons slot="end" (click)="modalForgotPasssword.dismiss()">
          <ion-button [textContent]="'Tiếp'">
            <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Nút tiếp theo -->

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">
      <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
      <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quên mật khẩu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Để xác nhận đây là tài khoản của bạn, hãy nhập lại SĐT và Email đã đăng ký
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <!--<ion-input type="email" required></ion-input> -->
              <ion-input type="email" fill="solid" helperText="Enter a valid email"
                errorText="Invalid email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Số điện thoại</ion-label>
              <ion-input type="tel" placeholder="888-888-8888" [maxlength]="11"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button shape="round" expand="block" fill="solid" color="primary">Đặt lại mật khẩu</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>

  </ng-template>
</ion-modal>
<!--<ion-footer class="ion-no-border">
    <ion-title style="font-size: 12px;background: transparent" color="primary" class="ion-text-center">Version: 6.2</ion-title>
</ion-footer>-->
