ion-header {
  div {
    div.service-search {
      div.search-filter {
        display: flex;

        ion-list.filter {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}


ion-content {
  div.service-header {
    position: sticky;
    top: -1rem;
    z-index: 1;
    background-color: white;



    ion-item.title-service {
      font-size: 1rem;
    }

  }

  div.service-content {
    div.service-list-content {

      // overflow: auto;
      // max-height: calc(100vh - 17rem);

      ion-list {

        ion-item.service-item {
          display: flex;
          flex-direction: column;
          background-color: #f1f1f1;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease;

          button.service-item {
            background: linear-gradient(135deg, #d2e9f3, #f6feff);
            padding: 0.5rem;
            border-radius: 0.5rem;
          }

          ion-label {
            &.service-designation {
              font-size: 0.75rem;
              white-space: break-spaces;
            }

            &.service-price {
              font-size: 0.75rem;
            }
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

  }
}
