<ion-content class="ion-padding">
  <!-- Nội dung -->
  <div class="service-header">
    <!-- Khu vực tìm kiếm -->
    <div class="service-search">
      <!-- Tìm liếm - lọc -->
      <div class="search-filter">

        <!-- Tìm kiếm -->
        <ion-searchbar placeholder="Search"></ion-searchbar>

        <!-- Lọc -->
        <div class="filter">
          <ion-list>
            <ion-item>
              <ion-select interface="popover" placeholder="Lọc">
                <ion-select-option value="dealthcare">Nhóm BP</ion-select-option>
                <ion-select-option value="products">Nhóm SP</ion-select-option>
              </ion-select>
              <ion-icon slot="start" name="funnel-outline" color="primary"></ion-icon>
            </ion-item>
          </ion-list>
        </div>

      </div>
    </div>
    <!-- Tiêu đề -->
    <ion-item class="title-service">
      <ion-label class="title-designation"><strong>Chỉ định</strong> </ion-label>
      <ion-label class="title-price" slot="end"> <strong>Giá</strong> </ion-label>
    </ion-item>
  </div>

  <!-- Nội dung -->
  <div class="service-content">
    <div class="service-list-content">
      <ion-list>
        <!-- DS Dịch vụ -->
        <ion-item *ngFor="let item of items; let i = index" class="service-item">
          <ion-label class="service-designation">{{item.name}}</ion-label>
          <ion-label class="service-price" slot="end">{{item.price | currency :
            'VND'}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" style="height: 0.5rem;">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
  </div>

</ion-content>
