<ion-header>
  <div>
    <!-- Khu vực tìm kiếm -->
    <div class="service-search">
      <!-- Tìm liếm - lọc -->
      <div class="search-filter">

        <!-- Tìm kiếm -->
        <ion-searchbar style="padding-top: 15px;" placeholder="Tìm kiếm ..."
          (ionChange)="handleChangeSearch($event)"></ion-searchbar>

        <!-- Lọc -->
        <ion-buttons (click)="presentPopoverFillter($event)" slot="start">
          <ion-button>
            <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-popover #popover [isOpen]="isPopoverOpenFillter" (didDismiss)="isPopoverOpenFillter = false">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-label style="font-size: small;">Lọc dữ liệu theo ...</ion-label>
              <ion-item style="font-size: small;">
                <ion-label position="stacked">
                  <ion-icon name="trail-sign-outline" slot="start"></ion-icon>
                  Nhóm bệnh phẩm
                </ion-label>
                <ion-select style="font-size: small;" label="Nhóm bệnh phẩm" [interfaceOptions]="customPopoverOptions"
                  interface="alert" label-placement="floating" placeholder="Chọn nhóm ..." clearText="Xoá"
                  doneText="Xong" cancelText="Huỷ" (ionChange)="handleChangeTypeGroup($event)">

                  <!-- <ion-select-option *ngFor="let order of initDatas.orderStatus" style="font-size: small;"
                    [value]="order.id">{{order.name}}</ion-select-option> -->
                  <ion-select-option style="font-size: small;" [value]="0">Nhóm bệnh</ion-select-option>
                  <ion-select-option style="font-size: small;" [value]="1">Nhóm sản Phẩm</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <!-- Nội dung -->
  <div class="service-header">

    <!-- Tiêu đề -->
    <ion-item class="title-service">
      <ion-label class="title-designation"><strong>Chỉ định</strong> </ion-label>
      <ion-label class="title-price" slot="end"> <strong>Giá</strong> </ion-label>
    </ion-item>
    <!-- <ion-progress-bar [value]="progress" color="medium"></ion-progress-bar> -->

  </div>

  <!-- Nội dung -->
  <div class="service-content">
    <div class="service-list-content">
      <ion-list>
        <!-- DS Dịch vụ -->
        <ion-item *ngFor="let item of items; let i = index" class="service-item" button
          (click)="clickItemService(item)">

          <ion-label class="service-designation">{{item.name}}</ion-label>
          <ion-label class="service-price" slot="end">{{item.price | currency :
            'VND'}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" style="height: 0.5rem;">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
  </div>

</ion-content>


<!-- Liên hệ-->
<ion-modal [isOpen]="isModalOpenDetailItemService">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút huỷ modal -->
        <ion-buttons slot="end" (click)="setOpenModalDetailItemService(false)">
          <ion-button>
            Đóng
            <!-- <ion-icon slot="icon-only" name="close-outline"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <!-- Tiêu đề Modal -->
        <ion-title>{{titleDetailItemService}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngIf="itemService?.name">
          <ion-text><span style="font-weight: 600;">Tên dịch vụ: </span>{{itemService.name}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.description">
          <ion-text><span style="font-weight: 600;">Miêu tả: </span>{{itemService.description}}</ion-text>
        </ion-item>


        <ion-item *ngIf="itemService?.orderTypeGroup.name">
          <ion-text><span style="font-weight: 600;">Thuộc nhóm: </span>{{itemService.orderTypeGroup.name}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.code">
          <ion-text><span style="font-weight: 600;">Mã: </span>{{itemService.code}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.his">
          <ion-text><span style="font-weight: 600;">Mã HIS: </span>{{itemService.his}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.appointmentTime">
          <ion-text><span style="font-weight: 600;">Thời gian trả kết quả:
            </span>{{itemService.appointmentTime}}</ion-text>
        </ion-item>


        <ion-item *ngIf="itemService?.sampleType">
          <ion-text><span style="font-weight: 600;">Loại mẫu: </span>{{itemService.sampleType}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.preservationMethod">
          <ion-text><span style="font-weight: 600;">Phương pháp bảo quản:
            </span>{{itemService.preservationMethod}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.testMethod">
          <ion-text><span style="font-weight: 600;">Phương pháp test: </span>{{itemService.testMethod}}</ion-text>
        </ion-item>

        <ion-item *ngIf="itemService?.price">
          <ion-text><span style="font-weight: 600;">Giá: </span>{{itemService.price | currency : 'VND'}}</ion-text>
        </ion-item>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
