ion-header {
  div {
    div.service-search {
      div.search-filter {
        display: flex;

        ion-list.filter {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

ion-content {
  div.service-content {
    border: 2px solid #ccc;
    border-top: none;

    div.service-list-content {

      // overflow: auto;
      // max-height: calc(100vh - 17rem);

      ion-list {
        div.service-title {
          position: sticky;
          top: -1.05rem;
          z-index: 2;
          background-color: white;
          border-top: 1px solid #ccc;

          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

          ion-item {
            --background : #f1f1f1;
          }
        }



        ion-item.service-item {
          background-color: #f1f1f1;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease;

          button {
            background: linear-gradient(135deg, #d2e9f3, #f6feff);
            padding: 0.5rem;
            border-radius: 0.5rem;
          }

          div {
            border-right: 1px solid #ccc;
            height: 100%;
            width: 12.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-label {
              &.service-designation {
                padding: 0.5rem 0.25rem 0.5rem 0.25rem;
                font-size: 1rem;
                white-space: break-spaces;
              }
            }
          }

          ion-label {
            &.service-price {
              font-size: 1rem;
            }
          }


          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }
  }
}
