<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Page Two</h1>
  <p>Use the back button to navigate to the previous page.</p>
</ion-content> -->

<ion-header>

  <ion-toolbar color="primary">
    <!-- Nút quay lại -->
    <ion-buttons slot="start" style="margin-left: 0.5rem;">
      <ion-back-button defaultHref="#" text=""></ion-back-button>
    </ion-buttons>

    <!-- Tiêu đề Modal -->
    <ion-title>Xác minh tài khoản</ion-title>


    <!-- Nút tiếp theo -->
    <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
    <!-- <ion-buttons slot="end">
      <ion-button [textContent]="'Tiếp'">
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
  <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quên mật khẩu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Để xác minh đây là tài khoản của bạn, hãy nhập lại SĐT {{account ? (account.phoneNo | hidePhoneNumber) :
      'xxxxxxxxx'}} mà bạn đã đăng ký
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Số điện thoại</ion-label>
          <ion-input [(ngModel)]="inputNoPhone" type="tel" placeholder="888-888-8888" [maxlength]="11"></ion-input>
        </ion-item>
        <div style="display: flex; justify-content: flex-end;">
          <span class="m-medium">Số lần xác minh đã thực hiện: {{countVerifiNoPhone}}/{{maxVerifiNoPhone}}</span>
        </div>
      </ion-list>
      <ion-button shape="round" expand="block" fill="solid" color="primary" (click)="verifyUserPhoneNumber()">Tiếp tục
        <!-- <ion-icon slot="end" name="call-outline"></ion-icon> -->
        <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
        <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Xác định địa chỉ gửi mã OTP -->
<ion-modal [isOpen]="isOpenModalConfirmAddressSendOTP">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút quay lại -->
        <ion-buttons slot="start" (click)="setIsOpenModalConfirmAddressSendOTP(false)">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Gửi mã OTP</ion-title>


        <!-- Nút tiếp theo -->
        <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
        <!-- <ion-buttons slot="end" (click)="setIsOpenModalConfirmAddressSendOTP(false)">
          <ion-button [textContent]="'Tiếp'">
          </ion-button>
        </ion-buttons> -->

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">
      <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
      <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Quên mật khẩu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Vui lòng chọn địa chỉ nhận mã OTP để khôi phục tài khoản của bạn.
          <ion-list>
            <ion-radio-group value="email" [(ngModel)]="valueAddressSendOTPCode">
              <ion-item disabled="true">
                <ion-label>{{account.phoneNo | hidePhoneNumber}}</ion-label>
                <ion-radio value="phone" justify="start"> </ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>{{account.email | emailMask}}</ion-label>
                <ion-radio value="email" justify="start"> </ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-list>
          <ion-button shape="round" expand="block" fill="solid" color="primary" (click)="sendCodeOT()">
            Tiếp tục
            <!-- <ion-icon slot="end" name="send"></ion-icon> -->
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>


<!-- Nhập mã OTP -->
<ion-modal #modalInputOTPCode [isOpen]="isOpenModalInputOTPCode">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút quay lại -->
        <ion-buttons slot="start" (click)="setIsOpenModalInputOTPCode(false)">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Xác nhận mã OTP</ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">
      <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
      <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
      <ion-card>
        <!-- <ion-card-header>
          <ion-card-title>Nhập mật khẩu mới</ion-card-title>
        </ion-card-header> -->
        <ion-card-content>
          Vui lòng nhập Email, mã OTP đã được gửi vào SĐT/Email và mật khẩu để thay đổi mật khẩu mới.
          <ion-list>

            <!--  -->
            <ion-item>
              <!-- <ion-label position="stacked">Mã OTP</ion-label> -->
              <ion-input [clearInput]="true" type="tel" value="" placeholder="Nhập mã OTP ..."
                [(ngModel)]="inputOTPCode" (keyup)="onKeyUpInputOTPCode($event)"></ion-input>
            </ion-item>

            <!--  -->
            <ion-item>
              <!-- <ion-label position="stacked">Đ/C Email</ion-label> -->
              <ion-input [clearInput]="true" type="email" value="" placeholder="Nhập Đ/C Email ..."
                [(ngModel)]="inputEmail" (keyup)="onKeyUpInputEmail($event)"></ion-input>
            </ion-item>


            <ion-item>
              <!-- <ion-label position="stacked">Mật khẩu mới</ion-label> -->
              <ion-input [clearInput]="true" type="password" value="" placeholder="Mật khẩu mới ..."
                [(ngModel)]="passwords.newPassword" (keyup)="onKeyUpInputNewPassword($event)"></ion-input>
            </ion-item>

            <ion-item>
              <!-- <ion-label position="stacked">Nhập lại mật khẩu</ion-label> -->
              <ion-input [clearInput]="true" type="password" value="" placeholder="Nhập lại mật khẩu ..."
                [(ngModel)]="passwords.confirmNewPassword" (keyup)="onKeyUpInputConfirmNewPassword($event)"></ion-input>
            </ion-item>

          </ion-list>

          <ion-button shape="round" expand="block" fill="solid" color="primary" style="margin-top: 1.35rem;"
            (click)="confirmForgotPassword()">
            Xác nhận
            <ion-icon slot="end" name="hand-right-outline"></ion-icon>
            <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
          </ion-button>

          <div style="display: flex; align-items: center;">
            Không nhận được mã OTP,
            <ion-buttons>
              <ion-button slot="primary" color="primary" (click)="resendOTPCode()">
                <i>gửi lại</i>
                <!-- <ion-icon slot="icon-only"  name="repeat-outline"></ion-icon> -->
              </ion-button>
            </ion-buttons>
          </div>
          <div *ngIf="validInputOTPCode" class="m-error"
            style="display: flex; justify-content: flex-end; bottom: 65.3%; left: 9%; font-size: 0.6rem; position: absolute;">
            <span>*{{textErrorInputOTPCode}}</span>
          </div>
          <div *ngIf="validInputEmail" class="m-error"
            style="display: flex; justify-content: flex-end; bottom: 53.5%; left: 9%; font-size: 0.6rem; position: absolute;">
            <span>*{{textErrorInputEmail}}</span>
          </div>
          <div *ngIf="validInputNewPassword" class="m-error"
            style="display: flex; justify-content: flex-end; bottom: 42%; left: 9%; font-size: 0.6rem; position: absolute;">
            <span>*{{textErrorInputNewPassword}}</span>
          </div>
          <div *ngIf="validInputConfirmNewPassword" class="m-error"
          style="display: flex; justify-content: flex-end; bottom: 30.5%; left: 9%; font-size: 0.6rem; position: absolute;">
          <span>*{{textErrorInputConfirmNewPassword}}</span>
        </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>



<!-- Xác minh nhập mật khẩu mới -->
<ion-modal #modalResetNewPassword [isOpen]="isOpenModalResetNewPassword">
  <ng-template>
    <!-- Tiêu đề -->
    <ion-header>
      <ion-toolbar color="primary">
        <!-- Nút quay lại -->
        <ion-buttons slot="start" (click)="setIsOpenModalResetNewPassword(false)">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-buttons>

        <!-- Tiêu đề Modal -->
        <ion-title>Đặt mật khấu mới</ion-title>

      </ion-toolbar>

    </ion-header>

    <ion-content class="ion-padding">
      <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
      <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nhập mật khẩu mới</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Xin mời nhập mật khẩu mới và xác nhận
          <ion-list>
            <ion-radio-group value="email">
              <ion-item>
                <ion-label position="stacked">Mật khẩu mới</ion-label>
                <ion-input [clearInput]="true" type="password" value="" [(ngModel)]="passwords.newPassword"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Nhập lại mật khẩu</ion-label>
                <ion-input [clearInput]="true" type="password" value=""
                  [(ngModel)]="passwords.confirmNewPassword"></ion-input>
              </ion-item>
            </ion-radio-group>

          </ion-list>
          <ion-button shape="round" expand="block" fill="solid" color="primary" (click)="confirmNewPassword()">
            Xác nhận
            <ion-icon slot="end" name="hand-right-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>
