<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Page Two</h1>
  <p>Use the back button to navigate to the previous page.</p>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <!-- Nút quay lại -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" text="Quay lại" ></ion-back-button>
    </ion-buttons>

    <!-- Tiêu đề Modal -->
    <ion-title>Xác minh tài khoản</ion-title>


    <ion-buttons slot="end">
      <ion-button [textContent]="'Tiếp'">
        <!-- <ion-icon slot="end" name="chevron-forward-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <!-- Nút tiếp theo -->

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <!-- <i class="fa-solid fa-rotate-right fa-2xl"></i> -->
  <!-- <i class="fa-solid fa-lock fa-2xl"></i> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Quên mật khẩu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Để xác nhận đây là tài khoản của bạn, hãy nhập lại SĐT {{account ? (account.phoneNo | hidePhoneNumber) : 'xxxxxxxxx'}} mà bạn đã đăng ký
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Số điện thoại</ion-label>
          <ion-input type="tel" placeholder="888-888-8888" [maxlength]="11"></ion-input>
        </ion-item>
        <div style="display: flex; justify-content: flex-end;">
          <span class="m-medium">Số lần xác minh đã thực hiện: {{countVerifiNoPhone}}/{{maxVerifiNoPhone}}</span>
        </div>
      </ion-list>
      <ion-button shape="round" expand="block" fill="solid" color="primary" (click)="verifyUserPhoneNumber()">Xác minh</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
