<ion-content [fullscreen]="true">
  <div  class="safe--area">
    <ion-header [translucent]="false">
        <ion-toolbar color="primary">
         <ion-buttons slot="start">
           <ion-button (click)="backToHomePage()">
             <!--<ion-icon slot="icon-only" name="back-circle"></ion-icon>-->
             <ion-icon name="chevron-back-outline"></ion-icon>
           </ion-button>
         </ion-buttons>
         <ion-title class="ion-text-center">
           Trang home test
         </ion-title>
       </ion-toolbar>
     </ion-header>

     <ng-container *ngIf="notiInfo">
       {{notiInfo}}
       <textarea style="width: 100%" rows="15" [value]="notiInfo"></textarea>
     </ng-container>

     <div id="container" *ngIf="token">
       <textarea style="width: 100%" rows="10" [value]="token"></textarea>
     </div>
  </div>
</ion-content>
